/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
    width:90%;
  } */

  img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height:70%;
      width: auto;
  }
  

  html, body {
    margin: 0;
    /* height: 100%; */
    background: #000000;
    /* overflow: hidden; */
    /* font-synthesis-weight: none;  */
  }
  